<div class="login-container fadeIn animated">
	<div class="logo">
		<div class="fa fa-glass"></div>
		<div class="title">Kitchen On Table</div>
	</div>

	<div class="form-container">
		<form>
			<ul>
				<li>
					<div class="fa fa-user"></div>
					<input type="text" class="text-box" ng-model="login.userName" id="username" placeholder="User Name"/>
				</li>
				<li>
					<div class="fa fa-lock"></div>
					<input type="password" class="text-box" ng-model="login.password" id="password" placeholder="Password"/>
				</li>
			</ul>
		</form>
		<button ng-click="loginValidation(login)">Log in</button>
	</div>
</div>